In [3]:
#MY FIRST PYTHON OUTPUT
print('HELLO, PYTHON')

HELLO, PYTHON

In [6]:
#check de verson Python
import sys
print(sys.version)

3.6.12 | packaged by conda-forge | (default, Dec  9 2020, 00:36:02)
[GCC 9.3.0]

In [7]:
#pratices on writing comments
print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [8]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [9]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-9-63a21a726720>, line 3)

In [10]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [11]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello, Python")

Hello, Python

In [12]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
print("Hello, Python") #Print the traditional hello world

Hello, Python

In [13]:
# Integer

11

11

In [14]:
# Float

2.14

2.14

In [15]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

In [16]:
# Type of 12

type(12)

int

In [17]:
# Type of 2.14

type(2.14)

float

In [18]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

In [19]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [20]:
# Print the type of -1

type(-1)

int

In [21]:
# Print the type of 4

type(4)

int

In [22]:
# Print the type of 0

type(0)

int

In [23]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [24]:
# Print the type of 0.5

type(0.5)

float

In [25]:
# Print the type of 0.56

type(0.56)

float

In [26]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [27]:
# Verify that this is an integer

type(2)

int

In [28]:
# Convert 2 to a float

float(2)

2.0

In [29]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [30]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [31]:
# Convert a string into an integer

int('1')

1

In [32]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [33]:
# Convert the string "1.2" into a float

float('1.2')

1.2

In [34]:
# Convert an integer to a string

str(1)

'1'

In [35]:
# Convert a float to a string

str(1.2)

'1.2'

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False

type(False)

bool

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

In [42]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
6/2 # float

3.0

In [43]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
6//2 # int, as the double slashes stand for integer division

3

In [44]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [45]:
# Subtraction operation expression

50 - 60

-10

In [46]:
# Multiplication operation expression

5 * 5

25

In [47]:
# Division operation expression

25 / 5

5.0

In [48]:
# Integer division operation expression

25 // 5

5

In [50]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160/60

2.6666666666666665

In [51]:
# Mathematical expression

30 + 2 * 60

150

In [52]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [53]:
# Print out the value in variable

x

160

In [54]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [55]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [56]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [57]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [65]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

x = 3 + 2 * 2
x

7

In [66]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3 + 2) * 2
y

10

In [67]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

z = x + y
z

17